.About{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;

    .About-pc{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .about-id-pc{
            width: 280px;
            height: 280px;
            display: flex;
            font-size: 20px;
            color: white;
            justify-content: center;
            align-items: center;
            margin-top: 70px;
            border-radius: 280px;
            background-color: #303030;
        }

        .about-intro-pc{
            width: 70%;
            height: 200px;
            margin-top: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h1{ display: flex;
                font-weight: 350;
                font-size: 30px;
                text-align: center;

                .typing{
                    color: #303030;
                    font-weight: 500;
                    margin-left: 8px;
                }
            }
        }

        .about-cir{
            width: 100%;
            height: 20vh;
            display: flex;
            justify-content: end;

            .about-circle-up{
                width: 100px;
                height: 100px;
                position: fixed;
                z-index: 2;
                margin-right: 10px;
                border-radius: 100px;
                background-color: yellow ;
            }
        }

     
    }

}