.Realisation{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .Realisation-pc{
        width: 100%;
        height: 100vh;
    
        .title-real-pc{
            width: 100%;
            height: 20vh;
            background-color: green;
            display: flex;
            justify-content: center;
            align-items: center;
    
            h1{
                font-weight: 300;
                font-size: 4vw;
                letter-spacing: 5px;
            }
        }
    
        .real-content-pc{
            width: 100%;
            height: 80vh;
            display: flex;
            flex-direction: column;
    
            .title-real-content-pc{
                width: 100%;
                height: 20vh;
                text-align: center;
                visibility: hidden;
    
                h2{
                    font-weight: 400;
                }
            }
        
            .sort-real-content-pc{
                width: 100%;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
    
                button{
                    width: 80px;
                    height: 40px;
                    font-size: 15px;
                    margin-left: 10px;
                    border-radius: 0%;
                    border: none;
                    cursor: pointer;
                    transition: 0.2s ease-in-out;

                    &:hover{

                        &{
                            background-color: #303030;
                            color: white;
                        }
                    }
                }
            }
    
        .box-content-real{
            width: 100%;
            height: 70vh;
            display: flex;
            align-items: center;
            justify-content: space-around;
    
            .box-real{
                overflow: hidden;
                width: 45vh;
                height: 45vh;
                display: flex;
                flex-direction: column;
                cursor: pointer;
                align-items: flex-end;
                background-color: #cccccc;
                background-repeat: no-repeat;
                transition: 0.3s ease;

                &:hover{
                    &{
                        transform: scale(1.1);
                    }
                }
                
                .box-imgr{

                    width: 100%;
                    height: 80%;


                    img{
                        width: 100%;
                        height: 100% ;

                    }


                }

                
            }

           
    
            .banniere{
                width: 100%;
                height: 9vh;
                display: flex;
                justify-content: center;
                color: white;
                font-size: 24px;
                opacity: 0.5;
                align-items: center;                
                background-color: #303030;
            }
        }
    
        .real2{

            background-color: red;
            margin-bottom: 100px;
        }
        }
    
    }

    .Realisation-mob, .Realisation-tab{
        display: none;
    }

    
@media (min-width : 320px) and (max-width: 480px){
    
    .Realisation-pc, .Realisation-tab{
        display: none;
    }

    .Realisation-mob{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 250vh;

        .title-real-mob{
            width: 100%;
            height: 5%;
            margin-top: 10%;
            display: flex;
            align-items: center;
            justify-content: center;

            h1{
                font-weight: 300;
                font-size: 38px;
            }
        }

        .real-content-mob{
            width: 100%;
            height: 90%;
            display: flex;
            margin-top: 10%;
            justify-content: space-around;
            flex-direction: column;
            align-items: center;

            .box-real-mob{
                width: 250px;
                height: 250px;
                display: flex;
                cursor: pointer;
                align-items: flex-end;
                border-radius: 10px;
                background-color: #cccccc;
                background-repeat: no-repeat;

                .banniere-mob{
                    width: 100%;
                    height: 40px;
                    display: flex;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    background-color: #303030;
                }
            }
        }

    }

}
    
}


